html, body, h1, form, fieldset, input
{
margin: 0; padding: 0; border: none;

}

div.register{
    margin-right: 10px;
    text-align: right;
    text-decoration: 
}

#registration {
    color: #D5D2D2;
    background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, rgb(60,60,60)),
    color-stop(0.74, rgb(43,43,43)),
    color-stop(1, rgb(60,60,60))
        );
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    margin: auto auto;
    width: 500px;
     }

div#registration {
        font-family: 'Didact Gothic', sans-serif;
        text-align: center;

     }
